.button {
  background-color: #4452FE;
  color: #FFFFFF;
  padding: 20px 40px;
  align-items: center;
  text-decoration: none;
  display: inline-block;
  border: none;
  margin-bottom: 10px;
}
.button-inverted {
  background-color: transparent;
  border: 1px solid #FFFFFF;
}
.button:hover {
  background-color: #2b51ce;
  color: #FFFFFF;
}
.button-inverted:hover {
  background-color:#FFFFFF;
  color:#181818;
}