.button {
  background-color: #4452FE;
  color: #FFFFFF;
  padding: 20px 40px;
  align-items: center;
  text-decoration: none;
  display: inline-block;
  border: none;
  margin-bottom: 10px;

  &:hover {
    background-color: #2b51ce;
    color: #FFFFFF;
  }

  &-inverted {
    background-color: transparent;
    border: 1px solid #FFFFFF;

    &:hover {
      background-color:#FFFFFF;
      color:#181818;
    }
  }
}


