.content {
  background-color: $color-primary;
  text-align: center;
  padding: 20px;

  &-title {
    color: $color-secondary;
    font-size: 50px;
    padding: 60px 20px;
  }

  &-subtitle {
    color: $color-secondary;
    font-size: 20px;
    margin-bottom: 40px;
    letter-spacing: 0.2px;
  }

  &-wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
}

.card {
  background-color: $color-secondary;
  padding: 40px 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &-title {
    font-size: 20px;
    margin-bottom: 10px;
  }

  &-subtitle {
    color: $color-tertiary;
    font-size: 16px;
    margin-bottom: 50px;
    padding: 0 80px;
    line-height: 20px;
  }

  &-image {
    width: 60%;
  }
}

@media (min-width: 768px) {
  .content-wrapper {
    flex-direction: row;
  }

  .content {
    padding: 20px 150px;
  }
}