.section-experience {
  background-color: #1E1E1E;
  padding: 100px 30px;
}
.box-experience {
  text-align: center;
}
.title-experience {
  color: #fff;
  font-size: 50px;
  margin-bottom: 30px;
}
.image-experience {
  width: 100%;
}
@media (min-width: 768px) {
  .box-experience {
    background-color: #343434;
    display: flex;
    border-radius: 30px;
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    text-align: left;
    padding: 40px 0 0 80px;
  }
  .section-experience {
    padding: 80px 0;
  }
  .image-experience {
    width: 40%;
  }
}
