.experience {
  background-color: $color-sixth;
  padding: 100px 30px;

  &-box {
    text-align: center;
  }

  &-title {
    color: $color-secondary;
    font-size: 50px;
    margin-bottom: 30px;
  }

  &-image {
    width: 100%;
  }
}

@include tablet {
  .experience {
    padding: 80px 0;

    &-box {
      background-color: $color-quinary;
      display: flex;
      border-radius: 30px;
      width: 80%;
      margin: 0 auto;
      overflow: hidden;
      text-align: left;
      padding: 40px 0 0 80px;
    }
    &-image {
      width: 40%;
    }
  }
}