.hero {
  background-color: $color-primary;
  background-image: url(../images/hero-image.png);
  background-repeat: no-repeat; /*Não repite a imagem*/
  width: 100%;
  text-align: center;
  padding: 174px 84px 400px 84px; /*Top,right, bottom,left (sentido horário)*/

  &-title {
    color: $color-secondary;
    font-size: 52px;
    line-height: 62px;
    margin-bottom: 27px;
  }

  &-subtitle {
    color: $color-secondary;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 67px;
  }

  &-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
}

@media (min-width: 768px) {
  .hero-box {
    flex-direction: row;
    justify-content: center;
  }
}
