.partner {
  background-color: $color-primary;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 100px 20px;

  &-title {
    color: $color-secondary;
    font-size: 50px;
    text-align: center;
    margin-top: 90px;
    margin-bottom: 20px;
  }

  &-subtitle {
    color: $color-secondary;
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px;
  }

  &-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 20px;
    margin-bottom: 30px;
  }

  &-image {
    width: 50px;
  }
}

@media (min-width: 768px) {
  .partner-main {
    display: flex;
  }
}