body {
  font-family: 'Questrial', sans-serif;
}
.hero {
  background-color: #181818;
  background-image: url(../images/hero-image.png);
  background-repeat: no-repeat; /*Não repite a imagem*/
  width: 100%;
  text-align: center;
  padding: 174px 84px 400px 84px;
}
.title {
  color:#FFFFFF;
  font-size: 80px;
  font-size: 52px;
  line-height: 62px;
  margin-bottom: 27px;
}
.subtitle {
  color:#FFFFFF;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 67px;
}
.box {
  display: flex;
  flex-direction: column;
  gap: 20px;
	align-items: center;
}
@media (min-width: 768px) {
  .box {
    flex-direction: row;
    justify-content: center
  }
}
.button {
  background-color: #4452FE;
  color: #FFFFFF;
  padding: 20px 40px;
  text-decoration: none;
  display: inline-block;
  width: 178px;
  height: 65px;
  border: none;
}
.button-inverted {
  background-color: transparent;
  border: 1px solid #FFFFFF;
}
/* Content Section */
.content-section {
  background-color: #181818;
  text-align: center;
  padding: 20px;
}
.content-title {
  color: #FFFFFF;
  font-size: 50px;
  padding: 60px 20px;
}
.content-subtitle {
  color: #FFFFFF;
  font-size: 20px;
  margin-bottom: 40px;
  letter-spacing: 0.2px;
}
.container {
  background-color: #FFFFFF;
  padding: 40px 20px;
  display: inline-block;
  border-radius: 10px;
  margin: 30px;
}
.container-title {
  font-size: 20px;
  margin-bottom: 10px;
}
.container-subtitle {
  color: #5C5C5C;
  font-size: 16px;
  margin-bottom: 50px;
}
