@charset "UTF-8";
body {
  font-family: "Questrial", sans-serif;
}

.hero {
  background-color: #181818;
  background-image: url(../images/hero-image.png);
  background-repeat: no-repeat;
  /*Não repite a imagem*/
  width: 100%;
  text-align: center;
  padding: 174px 84px 400px 84px;
  /*Top,right, bottom,left (sentido horário)*/
}

.title {
  color: #FFFFFF;
  font-size: 52px;
  line-height: 62px;
  margin-bottom: 27px;
}

.subtitle {
  color: #FFFFFF;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 67px;
}

.box {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

@media (min-width: 768px) {
  .box {
    flex-direction: row;
    justify-content: center;
  }
}
.button {
  background-color: #4452FE;
  color: #FFFFFF;
  padding: 20px 40px;
  text-decoration: none;
  display: inline-block;
  width: 178px;
  height: 65px;
  border: none;
  margin-bottom: 10px;
}

.button-inverted {
  background-color: transparent;
  border: 1px solid #FFFFFF;
}

.content-section {
  background-color: #181818;
  text-align: center;
  padding: 20px;
}

.content-title {
  color: #FFFFFF;
  font-size: 50px;
  padding: 60px 20px;
}

.content-subtitle {
  color: #FFFFFF;
  font-size: 20px;
  margin-bottom: 40px;
  letter-spacing: 0.2px;
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.card {
  background-color: #FFFFFF;
  padding: 40px 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-title {
  font-size: 20px;
  margin-bottom: 10px;
}

.card-subtitle {
  color: #5C5C5C;
  font-size: 16px;
  margin-bottom: 50px;
  padding: 0 80px;
  line-height: 20px;
}

.card-image {
  width: 60%;
}

@media (min-width: 768px) {
  .card-wrapper {
    flex-direction: row;
  }

  .content-section {
    padding: 20px 150px;
  }
}
.gallery-section {
  background-color: #181818;
  padding: 20px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery-title {
  color: #FFFFFF;
  font-size: 50px;
  text-align: center;
  padding: 40px;
  margin-bottom: 10px;
}

.gallery-subtitle {
  color: #FFFFFF;
  font-size: 20px;
  text-align: center;
  margin-bottom: 30px;
}

.gallery-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-bottom: 70px;
}

.gallery-image {
  width: 100%;
  /*mobile*/
  border-radius: 10px;
}

@media (min-width: 768px) {
  .gallery-box {
    flex-direction: row;
    /* quando for desktop*/
  }

  .gallery-image {
    width: 25%;
    /* quando for desktop*/
  }
}
.partner-section {
  background-color: #181818;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 30px;
}

.partner-title {
  color: #FFFFFF;
  font-size: 50px;
  text-align: center;
  margin-top: 90px;
  margin-bottom: 20px;
}

.partner-subtitle {
  color: #FFFFFF;
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.div-partner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 20px;
  margin-bottom: 30px;
}

.partner-image {
  width: 50px;
}

@media (min-width: 768px) {
  .div-main {
    display: flex;
  }
}
.depositions-section {
  background-color: #181818;
  padding: 30px;
}

.depositions-title {
  color: #FFFFFF;
  font-size: 50px;
  text-align: center;
  margin-bottom: 30px;
}

.div-users {
  border: 1px solid #565656;
  border-radius: 10px;
  padding: 20px;
}

.users {
  color: #FFFFFF;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.users-occupation {
  margin-bottom: 10px;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: bold;
}

.users-depositions {
  color: #FFFFFF;
  font-size: 15px;
  line-height: 20px;
}

.box-depositions {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.box-main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.box-users {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .box-main {
    flex-direction: row;
  }

  .depositions-section {
    padding: 30px 200px;
  }
}

/*# sourceMappingURL=styles.css.map */
